.git
.git-personal
.claude
.codex
.DS_Store
**/.DS_Store

build
build-*
cache
out
sessions
CI-results
tests/results

feedback
openspec
docs/openspec-zh
docs/agents

*.dylib
*.so
*.dll
*.o
*.a
*.pyc
__pycache__
